In [2]:
import numpy as np
import pandas as pd

import tensorflow as tf
import tensorflow_datasets as tfds
import keras

In [3]:
data_path = "../data/"
df = pd.read_table(data_path+"ratings_train.txt")

print(len(df))
df.head(5)

150000

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

# Data Preprocessing

In [4]:
# drop null and duplicates
print(df.isnull().values.any())
print(df.dropna(inplace=True))

print(len(df))
print(df.isnull().values.any())

print(df['document'].nunique())
df.drop_duplicates(subset=['document'], inplace=True) # document 열에서 중복인 내용이 있다면 중복 제거
print(len(df))

True
None
149995
False
146182
146182

# Tokenizing with Tensorflow Subword Tokenizer

In [6]:
tokenizer = tfds.deprecated.text.SubwordTextEncoder.build_from_corpus(
    df['document'], target_vocab_size=2**13)

In [7]:
print(tokenizer.subwords[:30])

['. ', '..', '영화', '이_', '...', '의_', '도_', '는_', '다', ', ', '을_', '고_', '은_', '가_', '에_', '.. ', '한_', '너무_', '정말_', '를_', '고', '게_', '영화_', '지', '... ', '이', '진짜_', '다_', '요', '만_']

In [8]:
print(df['document'][15])
print(tokenizer.encode(df['document'][15]))

ㄱ냥 매번 긴장되고 재밋음ㅠㅠ
[1043, 7149, 240, 1363, 2723, 1436, 5043, 177]

In [9]:
sample_strings = df.document[20]
sample_strings_encoded = tokenizer.encode(sample_strings)

for string in sample_strings_encoded:
    print('{} ----> {}'.format(string, tokenizer.decode([string])))

671 ----> 나름
4718 ----> 심오
17 ----> 한
1760 ----> 뜻
7 ----> 도
98 ----> 있는
133 ----> 듯
1 ----> .
48 ----> 그냥
2249 ----> 학생
4 ----> 이
7493 ----> 선생
32 ----> 과
1028 ----> 놀
2661 ----> 아나
8 ----> 는
81 ----> 영화는
750 ----> 절대
1220 ----> 아님